extends ./layout.jade

block content
    //- * * * * * * * * * * * * * * * * * 
    //- * * * * Main content
    //- * * * * * * * * * * * * * * * * *
    
    section#container.container
      #coverImg
        img(src='images/png/gabarit.png')
        h1 #{content.year} #{content.day}
        h2 #{content.place}
        p #{content.morts} morts
        p #{content.blesses} blesses
        p #{content.caption} 


        .slider
          span.arrow-right.UI-slide-right
          span.arrow-left.UI-slide-left
          .points-container
            .point-container
              .point
            .point-container
              .point
            .point-container
              .point
            .point-container
              .point.active
            .point-container
              .point
            .point-container
              .point
        
      
      .row.footer.u-full-width.u-cf
        img.logo-AFP.u-pull-right(src="images/svg/afp_logo.svg", alt="logo AFP", width="32", height="12")
        a.u-pull-left.click-info(href="/", title="")
          span.UI-icon.UI-info