doctype html
html(lang="replaceLanguage", dir="replaceDir")
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{metadata.headline}
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
    meta(name="theme-color", content="#ffffff")
    meta(name="robots", content="noindex, nofollow")
    meta(itemprop="copyright", content="AFP (agence France Presse)")
    meta(name="author", content="AFP Graphics-team")
    meta(name="description", content="#{caption}")
    meta(name="keywords", content="#{keywords}")
    link(rel="stylesheet", href="styles/styles.css")
    script(type="text/javascript", src="scripts/vendor/modernizr.custom.55890.js")
  body
    section#container.container
      h1.chapo.twelve #{content.title}
      h2.sub-chapo.twelve #{content.subtitle}
      img(src="images/jpg/bla.jpg", alt="")
      ul.filters-list.row dddd
        li.filters.one-half.column
          a.filters-link(href="/")
            | Lien
      .cat.row.u-full-width
        label(for="categories", class="cat__child")
          select#categories.categories.u-full-width(name="categories")
            option(value="bla") blah
      .row.footer.u-full-width.u-cf
        p.infos.u-full-width Demandeurs d’emploi de catégorie A
        img.logo-AFP.u-pull-right(src="images/svg/afp_logo.svg", alt="logo AFP", width="32", height="12")
        p.u-pull-left
        a.click-info(href="/", title="")
          span.UI-icon.UI-info
          span.button-click infos
    .afp-pane.u-cf
      h2.info-title #{info.title}
      p.info-text #{info.texte}
      hr
      h3.list-title #{info.listTitle}
      ul.sources-list
        each val in info.sourcesList
          li.sources-list-item= val 
      hr
      p.update-date
        span #{info.update} : #{info.updateDate}
      .info-footer
        img.logo-AFP.u-pull-right(src="images/svg/afp_logo.svg", alt="logo AFP", width="32", height="12")
        p.u-pull-left
          a.click-close(href="/", title="")
            span.UI-icon.UI-close
              span.button-click #{info.closeButton}
    .not-supported
      p #{warn.notsupported}
    //build:js
    include scripts.jade
    script(type="text/javascript", src="scripts/vendor/queue.min.js")
    script(type="text/javascript", src="scripts/vendor/pym.min.js")
    script(type="text/javascript", src="scripts/vendor/afp-pane.js")
    //endbuild
